@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color-accent:  #d78c43;
    font-family: "Manrope", sans-serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}


